span.disc{
    border-radius: 2px;
    padding: 3px;
    color: white;
}
span.mpup {
    background-color: lightskyblue;
}

span.charge {
    background-color: gold;
}

span.range_h, span.range_v {
    background-color: pink;
}