<!--
.. title: ストーリー戦闘ドロップ一覧
.. slug: battle_drop_list
-->

<h3>魔法少女ストーリーに抜けあり、曜日のイベントクエスト未完成</h3>
{{% template %}}
<%
import re
%>
<% msg = global_data["msg"] %>
<table class="table table-striped">
<thead>
    <tr>
        <th width="30%">ストーリー - セクション名 - BATTLE</th>
        <th>AP</th>
        <th>敵属性</th>
        <th>ドロップリスト</th>
    </tr>
</thead>
<tbody>
% for battle in sorted(global_data["battle_list"], key=lambda x: x["questBattleId"]):
<% sec = global_data["section_{}".format(battle["sectionId"])] %>
<tr>
    <td>
        ${msg["questTypes"][sec["questType"]]}
        % if sec["questType"] == "CHARA":
        [${sec["charaName"]}]
        % elif sec["questType"] in ["COMPOSE", "MATERIAL"]:
        [${msg["dayOfTheWeeks"][sec["dayOfTheWeekQuestType"]]}]
        %endif
        - ${sec.get("title", "???")}
        - BATTLE ${battle["sectionIndex"]}
    </td>
    <td>
        ${sec.get("ap","?")}
        ${sec.get("ap","?")}
    </td>
    <td>
        % for attr in battle["waveEnemyAttributeIdList"]:
            <span>${msg["attributes"][attr]}</span>
        % endfor
    </td>
    <td>
        % for dropKey in ["dropItem1", "dropItem2", "dropItem3", "dropItem4", "dropItem5", "dropItem6", "dropItem7", "dropItem8"]:
            % if dropKey in battle:
                % for x in range(1, 11):
                    % if battle[dropKey]["probability{}".format(x)] > 0:
                        <% 
                            dropItem = ""
                            code = battle[dropKey]["rewardCode{}".format(x)]
                            if code == "MISS" or code.startswith("RICHE"):
                                dropItem = ""
                            else:
                                m = re.match("^([^_]+)_(.+)_([^_]+)$", code)
                                if m:
                                    (t, code, count) = (m.group(1), m.group(2), m.group(3))
                                    if t == "ITEM":
                                        dropItem = global_data["item_" + code]["name"]
                                    elif t == "GIFT":
                                        dropItem = global_data["gift_" + code]["name"]
                                    else:
                                        dropItem = ""
                                else:
                                    dropItem = ""
                        %>
                        <span>${dropItem}</span>
                    % endif
                % endfor
            % endif
        % endfor
    </td>
</tr>
% endfor
{{% /template %}}
