<!--
.. title: ストーリー戦闘経験値一覧
.. slug: battle_exp_list
-->

<h3>魔法少女ストーリーに抜けあり、曜日のイベントクエスト未完成</h3>
{{% template %}}
<%
import re
%>
<% msg = global_data["msg"] %>
<table class="table table-striped">
<thead>
    <tr>
        <th width="30%">ストーリー - セクション名 - BATTLE</th>
        <th>AP</th>
        <th>敵属性</th>
        <th>baseBondPt</th>
        <th>cardExp</th>
        <th>exp</th>
        <th>CC</th>
    </tr>
</thead>
<tbody>
% for battle in sorted(global_data["battle_list"], key=lambda x: x["questBattleId"]):
<% sec = global_data["section_{}".format(battle["sectionId"])] %>
<tr>
    <td>
        ${msg["questTypes"][sec["questType"]]}
        % if sec["questType"] == "CHARA":
        [${sec["charaName"]}]
        % elif sec["questType"] in ["COMPOSE", "MATERIAL"]:
        [${msg["dayOfTheWeeks"][sec["dayOfTheWeekQuestType"]]}]
        %endif
        - ${sec.get("title", "???")}
        - BATTLE ${battle["sectionIndex"]}
    </td>
    <td>
        ${sec.get("ap","?")}
    </td>
    <td>
        % for attr in battle["waveEnemyAttributeIdList"]:
            <span>${msg["attributes"][attr]}</span>
        % endfor
    </td>
    <td>
        ${battle["baseBondsPt"]}
    </td>
    <td>
        ${battle["cardExp"]}
    </td>
    <td>
        ${battle["exp"]}
    </td>
    <td>
            ${battle["riche"]}
    </td>
</tr>
% endfor
{{% /template %}}
