<!--
.. title: ストーリーバトル一覧
.. slug: battle_list
-->

{{% template %}}
<h2>メインストーリー</h2>
% for sec in sorted([s for s in global_data["section_list"] if s["questType"] == "MAIN"], key=lambda x: x["sectionId"]):
    <div>
        <h4>${sec.get("title", "???")}</h4>
        <div>${sec["message"].replace("＠", "<br/>")}</div>
        <div>${sec["outline"].replace("＠", "<br/>")}</div>
        <div>クリア報酬:${sec["clearReward"]["displayName"]} ×${sec["clearReward"]["quantity"]}</div>
    </div>
% endfor

<h2>アナザーストーリー</h2>
% for sec in sorted([s for s in global_data["section_list"] if s["questType"] == "SUB"], key=lambda x: x["sectionId"]):
    <div>
            <h4>${sec.get("title", "???")}</h4>
            <div>${sec["message"].replace("＠", "<br/>")}</div>
            <div>${sec["outline"].replace("＠", "<br/>")}</div>
            <div>クリア報酬:${sec["clearReward"]["displayName"]} ×${sec["clearReward"]["quantity"]}</div>
        </div>
% endfor

<h2>魔法少女ストーリー</h2>
% for sec in sorted([s for s in global_data["section_list"] if s["questType"] == "CHARA"], key=lambda x: x["sectionId"]):
    <div>
            <h4>${sec.get("title", "???")}</h4>
            <div>${sec["message"].replace("＠", "<br/>")}</div>
            <div>クリア報酬:${sec["clearReward"]["displayName"]} ×${sec["clearReward"]["quantity"]}</div>
        </div>
% endfor
{{% /template %}}
