<!--
.. title: ストーリー戦闘ミッション一覧
.. slug: battle_mission_list
-->

<h3>魔法少女ストーリーに抜けあり、曜日のイベントクエスト未完成</h3>
{{% template %}}
<%
import re
%>
<% msg = global_data["msg"] %>
<table class="table table-striped">
<thead>
    <tr>
        <th width="30%">ストーリー - セクション名 - BATTLE</th>
        <th>AP</th>
        <th>敵属性</th>
        <th>ミッション1</th>
        <th>ミッション2</th>
        <th>ミッション3</th>
        <th>報酬</th>
    </tr>
</thead>
<tbody>
% for battle in sorted(global_data["battle_list"], key=lambda x: x["questBattleId"]):
<% sec = global_data["section_{}".format(battle["sectionId"])] %>
<tr>
    <td>
        ${msg["questTypes"][sec["questType"]]}
        % if sec["questType"] == "CHARA":
        [${sec["charaName"]}]
        % elif sec["questType"] in ["COMPOSE", "MATERIAL"]:
        [${msg["dayOfTheWeeks"][sec["dayOfTheWeekQuestType"]]}]
        %endif
        - ${sec.get("title", "???")}
        - BATTLE ${battle["sectionIndex"]}
    </td>
    <td>
        ${sec.get("ap","?")}
    </td>
    <td>
        % for attr in battle["waveEnemyAttributeIdList"]:
            <span>${msg["attributes"][attr]}</span>
        % endfor
    </td>
    <td>
        ${battle["missionMaster1"]["description"]}
    </td>
    <td>
        ${battle["missionMaster2"]["description"]}
    </td>
    <td>
        ${battle["missionMaster3"]["description"]}
    </td>
    <td>
            <% 
            dropItem = ""
            code = battle["missionRewardCode"]
            if code == "MISS" or code.startswith("RICHE"):
                dropItem = ""
            else:
                m = re.match("^([^_]+)_(.+)_([^_]+)$", code)
                if m:
                    (t, code, count) = (m.group(1), m.group(2), m.group(3))
                    if t == "ITEM":
                        dropItem = global_data["item_" + code]["name"]
                    elif t == "GIFT":
                        dropItem = global_data["gift_" + code]["name"]
                    else:
                        dropItem = ""
                else:
                    dropItem = ""
        %>
        <span>${dropItem}</span>
</td>
</tr>
% endfor
{{% /template %}}
