<!--
.. title: ミッション（累計）一覧
.. slug: mission_list
-->

{{% template %}}
<%
import re
%>
<% msg = global_data["msg"] %>
<table class="table table-striped">
<thead>
    <tr>
        <th>条件</th>
        <th>報酬</th>
    </tr>
</thead>
<tbody>
% for mission in sorted(global_data["challenge_list"], key=lambda x: x["id"]):
<tr>
    <td>
        ${mission["displayName"]}
    </td>
    <td>
        % for reward in mission["rewardList"]:
            <span>${reward["displayName"]}</span>
        % endfor
    </td>
</tr>
% endfor
{{% /template %}}
