<!--
.. title: ドッペル一覧
.. slug: doppel_list
-->

{{% template %}}
% for doppel in sorted(global_data["doppel_list"], key=lambda x: x["id"]):
<h2>${doppel["name"]}</h2>
<div>
    ${doppel["title"]}
</div>
<div>
    ${doppel["description"].replace("＠", "<br/>")}
</div>
<div>
    Design: ${doppel["designer"]}
</div>
% endfor
{{% /template %}}
