<!--
.. title: 魔法少女一覧
.. slug: magi_list
-->

{{% template %}}
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>属性</th>
        <th>学校</th>
        <th>CV</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
    </tr>
</thead>
<tbody>
% for chara in sorted(global_data["chara_list"], key=lambda x: x["id"]):
<tr>
    <td>
        <a href="../magi_${chara["id"]}">${chara["name"]}${chara.get("title", "")}</a>
    </td>
    <td>
        ${global_data["msg"]["ranks"][chara["defaultCard"]["rank"]]}
    </td>
    <td>${global_data["msg"]["attributes"][chara["attributeId"]]}</td>
    <td>${chara["school"]}</td>
    <td>${chara["voiceActor"]}</td>
    <td class="text-right">${chara["defaultCard"]["hp"]}</td>
    <td class="text-right">${chara["defaultCard"]["attack"]}</td>
    <td class="text-right">${chara["defaultCard"]["defense"]}</td>
</tr>
    % if "evolutionCard1" in chara:
        <tr>
            <td>
                →
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard1"]["rank"]]}
            </td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td class="text-right">${chara["evolutionCard1"]["hp"]}</td>
            <td class="text-right">${chara["evolutionCard1"]["attack"]}</td>
            <td class="text-right">${chara["evolutionCard1"]["defense"]}</td>
        </tr>
    %endif
    % if "evolutionCard2" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard2"]["rank"]]}
            </td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td class="text-right">${chara["evolutionCard2"]["hp"]}</td>
            <td class="text-right">${chara["evolutionCard2"]["attack"]}</td>
            <td class="text-right">${chara["evolutionCard2"]["defense"]}</td>
        </tr>
    %endif
    % if "evolutionCard3" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard3"]["rank"]]}
            </td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td class="text-right">${chara["evolutionCard3"]["hp"]}</td>
            <td class="text-right">${chara["evolutionCard3"]["attack"]}</td>
            <td class="text-right">${chara["evolutionCard3"]["defense"]}</td>
        </tr>
    %endif
    % if "evolutionCard4" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard4"]["rank"]]}
            </td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td class="text-right">${chara["evolutionCard4"]["hp"]}</td>
            <td class="text-right">${chara["evolutionCard4"]["attack"]}</td>
            <td class="text-right">${chara["evolutionCard4"]["defense"]}</td>
        </tr>
    %endif
% endfor
{{% /template %}}
