<!--
.. title: 魔法少女ディスク一覧
.. slug: magi_disc_list
-->

{{% template %}}
<%
    msg = global_data["msg"]
%>
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>属性</th>
        <th>Disc</th>
    </tr>
</thead>
<tbody>
% for chara in sorted(global_data["chara_list"], key=lambda x: x["id"]):
    <%
        card = chara["defaultCard"]
    %>
    <tr>
        <td>
            <a href="../magi_${chara["id"]}">${chara["name"]}${chara.get("title", "")}</a>
        </td>
        <td>
            ${msg["ranks"][chara["defaultCard"]["rank"]]}
        </td>
        <td>${msg["attributes"][chara["attributeId"]]}</td>
        <td>
                <span class="disc ${card["commandType1"].lower()}">${msg["discs"][card["commandType1"]]}</span>
                <span class="disc ${card["commandType2"].lower()}">${msg["discs"][card["commandType2"]]}</span>
                <span class="disc ${card["commandType3"].lower()}">${msg["discs"][card["commandType3"]]}</span>
                <span class="disc ${card["commandType4"].lower()}">${msg["discs"][card["commandType4"]]}</span>
                <span class="disc ${card["commandType5"].lower()}">${msg["discs"][card["commandType5"]]}</span>
        </td>
    </tr>
% endfor
{{% /template %}}
