<!--
.. title: 魔法少女コネクト・マギア一覧
.. slug: magi_skill_list
-->

{{% template %}}
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>属性</th>
        <th>コネクト</th>
        <th>コネクト説明</th>
        <th>マギア</th>
        <th>マギア説明</th>
    </tr>
</thead>
<tbody>
% for chara in sorted(global_data["chara_list"], key=lambda x: x["id"]):
<tr>
    <td>
        <a href="../magi_${chara["id"]}">${chara["name"]}${chara.get("title", "")}</a>
    </td>
    <td>
        ${global_data["msg"]["ranks"][chara["defaultCard"]["rank"]]}
    </td>
    <td>${global_data["msg"]["attributes"][chara["attributeId"]]}</td>
    <td>${chara["defaultCard"]["cardSkill"]["name"]}</td>
    <td>${chara["defaultCard"]["cardSkill"]["shortDescription"]}</td>
    <td>${chara["defaultCard"]["cardMagia"]["name"]}</td>
    <td>${chara["defaultCard"]["cardMagia"]["shortDescription"]}</td>
</tr>
    % if "evolutionCard1" in chara:
        <tr>
            <td>
                →
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard1"]["rank"]]}
            </td>
            <td><br/></td>
            <td>${chara["evolutionCard1"]["cardSkill"]["name"]}</td>
            <td>${chara["evolutionCard1"]["cardSkill"]["shortDescription"]}</td>
            <td>${chara["evolutionCard1"]["cardMagia"]["name"]}</td>
            <td>${chara["evolutionCard1"]["cardMagia"]["shortDescription"]}</td>
        </tr>
    %endif
    % if "evolutionCard2" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard2"]["rank"]]}
            </td>
            <td><br/></td>
            <td>${chara["evolutionCard2"]["cardSkill"]["name"]}</td>
            <td>${chara["evolutionCard2"]["cardSkill"]["shortDescription"]}</td>
            <td>${chara["evolutionCard2"]["cardMagia"]["name"]}</td>
            <td>${chara["evolutionCard2"]["cardMagia"]["shortDescription"]}</td>
        </tr>
    %endif
    % if "evolutionCard3" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard3"]["rank"]]}
            </td>
            <td><br/></td>
            <td>${chara["evolutionCard3"]["cardSkill"]["name"]}</td>
            <td>${chara["evolutionCard3"]["cardSkill"]["shortDescription"]}</td>
            <td>${chara["evolutionCard3"]["cardMagia"]["name"]}</td>
            <td>${chara["evolutionCard3"]["cardMagia"]["shortDescription"]}</td>
        </tr>
    %endif
    % if "evolutionCard4" in chara:
        <tr>
            <td>
                →→
            </td>
            <td>
                ${global_data["msg"]["ranks"][chara["evolutionCard4"]["rank"]]}
            </td>
            <td><br/></td>
            <td>${chara["evolutionCard4"]["cardSkill"]["name"]}</td>
            <td>${chara["evolutionCard4"]["cardSkill"]["shortDescription"]}</td>
            <td>${chara["evolutionCard4"]["cardMagia"]["name"]}</td>
            <td>${chara["evolutionCard4"]["cardMagia"]["shortDescription"]}</td>
        </tr>
    %endif
% endfor
{{% /template %}}
