<!--
.. title: 魔法少女覚醒素材一覧
.. slug: magi_evolution_list
-->

{{% template %}}
<%
    msg = global_data["msg"]
%>
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>属性</th>
        <th>初期</th>
        <th>1回覚醒</th>
        <th>2回覚醒</th>
    </tr>
</thead>
<tbody>
% for chara in sorted(global_data["chara_list"], key=lambda x: x["id"]):
    <%
        card = chara["defaultCard"]
    %>
    <tr>
        <td>
            <a href="../magi_${chara["id"]}">${chara["name"]}${chara.get("title", "")}</a>
        </td>
        <td>
            ${msg["ranks"][chara["defaultCard"]["rank"]]}
        </td>
        <td>${msg["attributes"][chara["attributeId"]]}</td>
        <td>
            % if "cardCustomize" in card:
                <% giftBase = "gift" %>
                % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in card["cardCustomize"]]:
                    <p>
                        ${card["cardCustomize"]["{}{}".format(giftBase, x)]["name"]}
                        x${card["cardCustomize"]["{}Num{}".format(giftBase, x)]}
                        ${msg["evolParams"][card["cardCustomize"]["bonusCode{}".format(x)]]}
                        +${card["cardCustomize"]["bonusNum{}".format(x)] / 10}%
                    </p>
                % endfor
            % endif
        </td>
        <td>
            % if "evolutionCard1" in chara:
                <% card = chara["evolutionCard1"] %>
                % if "cardCustomize" in card:
                    <% giftBase = "gift" %>
                    % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in card["cardCustomize"]]:
                        <p>
                            ${card["cardCustomize"]["{}{}".format(giftBase, x)]["name"]}
                            x${card["cardCustomize"]["{}Num{}".format(giftBase, x)]}
                            ${msg["evolParams"][card["cardCustomize"]["bonusCode{}".format(x)]]}
                            +${card["cardCustomize"]["bonusNum{}".format(x)] / 10}%
                            </p>
                    % endfor
                % endif
            % endif
        </td>
        <td>
            %if "evolutionCard2" in chara:
                <% card = chara["evolutionCard2"] %>
                % if "cardCustomize" in card:
                    <% giftBase = "gift" %>
                    % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in card["cardCustomize"]]:
                        <p>
                            ${card["cardCustomize"]["{}{}".format(giftBase, x)]["name"]}
                            x${card["cardCustomize"]["{}Num{}".format(giftBase, x)]}
                            ${msg["evolParams"][card["cardCustomize"]["bonusCode{}".format(x)]]}
                            +${card["cardCustomize"]["bonusNum{}".format(x)] / 10}%
                            </p>
                    % endfor
                % endif
            % endif
        </td>
    </tr>
% endfor
{{% /template %}}
