<!--
.. title: 魔法少女マギア強化素材一覧
.. slug: magi_gift_list
-->

{{% template %}}
<%
    msg = global_data["msg"]
%>
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>属性</th>
        <th>1→2</th>
        <th>2→3</th>
        <th>3→4</th>
        <th>4→5</th>
    </tr>
</thead>
<tbody>
% for chara in sorted(global_data["chara_list"], key=lambda x: x["id"]):
    <%
        card = chara["defaultCard"]
    %>
    <tr>
        <td>
            <a href="../magi_${chara["id"]}">${chara["name"]}${chara.get("title", "")}</a>
        </td>
        <td>
            ${msg["ranks"][chara["defaultCard"]["rank"]]}
        </td>
        <td>${msg["attributes"][chara["attributeId"]]}</td>
        <td>
            <%
                giftBase = "firstMagiaGift"
            %>
            % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in chara]:
                <p>${chara["{}{}".format(giftBase, x)]["name"]} x ${chara["{}Num{}".format(giftBase, x)]}</p>
            % endfor
        </td>
        <td>
            <%
                giftBase = "secondMagiaGift"
            %>
            % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in chara]:
                <p>${chara["{}{}".format(giftBase, x)]["name"]} x ${chara["{}Num{}".format(giftBase, x)]}</p>
            % endfor
        </td>
        <td>
            <%
                giftBase = "thirdMagiaGift"
            %>
            % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in chara]:
                <p>${chara["{}{}".format(giftBase, x)]["name"]} x ${chara["{}Num{}".format(giftBase, x)]}</p>
            % endfor
        </td>
        <td>
            <%
                giftBase = "fourthMagiaGift"
            %>
            % for x in [x for x in range(1, 7) if "{}{}".format(giftBase, x) in chara]:
                <p>${chara["{}{}".format(giftBase, x)]["name"]} x ${chara["{}Num{}".format(giftBase, x)]}</p>
            % endfor
        </td>
    </tr>
% endfor
{{% /template %}}
