<!--
.. title: メモリア一覧
.. slug: memoria_list
-->

{{% template %}}
<%
  dollar = "$"
%>
<table class="table table-striped">
<thead>
    <tr>
        <th>名前</th>
        <th>レア</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>スキル・アビリティ（ターン数）</th>
        <th>スキル名</th>
        <th>説明</th>
    </tr>
</thead>
<tbody>
% for piece in sorted(global_data["piece_list"], key=lambda x: x["pieceId"]):
    <tr>
        <td>
            <a href="../memoria_${piece["pieceId"]}">${piece["pieceName"]}</a>
            % if "charaList" in piece:
                [
                % for c in piece["charaList"]:
                    <span><a href="../magi_${c["charaId"]}">${c["name"]}</a></span>
                % endfor
                ]
            % endif
        </td>
        <td>
            ${global_data["msg"]["ranks"][piece["rank"]]}
        </td>
        <td class="text-right">${piece["hp"]}</td>
        <td class="text-right">${piece["attack"]}</td>
        <td class="text-right">${piece["defense"]}</td>
        <td>${piece["pieceSkill"]["name"]}</td>
        <td>
            [${piece["pieceType"]}]
            % if piece["pieceType"] == "SKILL":
                <span>${piece["pieceSkill"]["intervalTurn"]}/${piece["pieceSkill2"]["intervalTurn"]}</span>
            % endif
        </td>
        <td>
                ${piece["pieceSkill"]["shortDescription"]}
        </td>
    </tr>
% endfor
</tbody>
</table>
{{% /template %}}
