<%
  piece = global_data["piece_{}".format(piece_id)]
  piece_msg = global_data["msg"]["piece"]
  msg = global_data["msg"]
%>

<h1>
% if "charaList" in piece:
    % for c in piece["charaList"]:
        <span>${c["name"]}</span>
    % endfor
    ${piece_msg["charaList"]}
% endif
Illust: ${piece.get("illustrator", "---")}</h1>

<table class="table">
<tbody>
    <tr><th colspan="2">${piece_msg["pieceName"]}</th><td colspan="4">${piece["pieceName"]}</td></tr>
    <tr><th colspan="2">${piece_msg["description"]}</th><td colspan="4">${piece["description"].replace(msg["lineBreak"], "<br/>")}</td></tr>
    <tr>
        <th>HP</th><td>${piece["hp"]}</td>
        <th>ATK</th><td>${piece["attack"]}</td>
        <th>DEF</th><td>${piece["defense"]}</td>
    </tr>
    <tr><th colspan="2">${piece_msg["pieceSkill"]}</th><td colspan="4">${piece["pieceSkill"]["name"]}</td></tr>
    <tr>
        <th colspan="2">${piece_msg["description"]}</th>
        <td colspan="4">
            ${piece["pieceSkill"]["shortDescription"]}<hr/>
            ${piece["pieceSkill"].get("art1", "")}<br/>
            ${piece["pieceSkill"].get("art2", "")}<br/>
            ${piece["pieceSkill"].get("art3", "")}<br/>
            ${piece["pieceSkill"].get("art4", "")}<br/>
            ${piece["pieceSkill"].get("art5", "")}<br/>
        </td>
    </tr>
    % if piece["pieceType"] == "SKILL":
        <tr><th colspan="2">${piece_msg["intervalTurn"]}</th><td colspan="4">${piece["pieceSkill"]["intervalTurn"]}</td></tr>
    % endif
    <tr><th colspan="2">${piece_msg["pieceSkill"]}</th><td colspan="4">${piece["pieceSkill2"]["name"]}</td></tr>
    <tr>
        <th colspan="2">${piece_msg["description"]}</th>
        <td colspan="4">
            ${piece["pieceSkill2"]["shortDescription"]}<hr/>
            ${piece["pieceSkill2"].get("art1", "")}<br/>
            ${piece["pieceSkill2"].get("art2", "")}<br/>
            ${piece["pieceSkill2"].get("art3", "")}<br/>
            ${piece["pieceSkill2"].get("art4", "")}<br/>
            ${piece["pieceSkill2"].get("art5", "")}<br/>
        </td>
    </tr>
    % if piece["pieceType"] == "SKILL":
        <tr><th colspan="2">${piece_msg["intervalTurn"]}</th><td colspan="4">${piece["pieceSkill2"]["intervalTurn"]}</td></tr>
    % endif
</tbody>
</table>